
.navBar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .links a:last-child {
    margin-right: 0;
  }
  
  .fa-cart-shopping {
    font-size: 24px;
    margin-left: 10px;
  }
  