@import '../../App.scss';

.slide-wrapper{
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    .slideNav {
        width: 80%;
        margin: auto;
        .categories-option{
            list-style: none;
            display: flex;
            padding-left: 0px;
            li{
                background-color: $color-3;
                color: $color-1;
                padding: 10px 15px;
                width: 125px;
                text-align: center;
                margin-right: 15px;
                border-radius: 15px;
                transition: background-color 0.3s, color 0.3s;
                &:hover{
                    background-color: $color-4;
                    cursor: pointer;
                    color: $color-5;
                }
            }
            .selected{
                background-color: $color-5;
                color: $color-1;
                transition: background-color 0.3s, color 0.3s;
                &:hover{
                    background-color: darken($color-5, 10%);
                    color: $color-1;
                }
            }
        }
        h2{
            font-size: 18px;
            font-weight: 700;
            margin-top: 15px;
        }
        .filter-option{
            list-style: none;
            .filter-container{
                display: flex;
                .menu-item{
                    margin-right: 10px;
                    position: relative;
                    li{
                        align-items: center;
                        border: 1px solid $color-4;
                        border-radius: 10px;
                        padding: 5px;
                        text-align: center;
                        color: $color-1;
                        background-color: $color-3;
                        transition: background-color 0.3s, color 0.3s;
                        &:hover{
                            background-color: $color-4;
                            color: $color-5;
                            cursor: pointer;
                        }
                    }
                    .submenu{
                        position: absolute;
                        min-width: 350px;
                        padding: 0px !important;
                        z-index: 1000;
                        opacity: 0;
                        transform: translateY(-10px);
                        transition: opacity 0.3s, transform 0.5s;
                        .submenu-container{
                            min-width: 350px;
                            position: absolute;
                            padding: 0px!important;
                            display: flex;
                            flex-wrap: wrap;
                            list-style: none;
                            background-color: $color-1;
                            box-shadow:0 2px 20px rgba(0,0,0,.5);
                            border-radius: 15px;
                            left: 0px;
                            right: 0px;
                            top: 5px;
                            .submenu-btn{
                                border: 1px solid $color-1;
                                margin: 5px;
                            }
                        }
                    }
                    &:hover{
                        .submenu{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
            .filtering{
                padding: 0;
                display: flex;
                li{
                    margin-right: 15px;
                    list-style: none;
                    align-items: center;
                    border: 1px solid $color-4;
                    font-size: 14px;
                    border-radius: 15px;
                    padding: 5px;
                    text-align: center;
                    color: $color-5;
                    background-color: #fef2f2;
                    border: 1px solid $color-5;
                    &:hover{
                        cursor: pointer;
                    }

                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
        .order-option{
            
            .filter{
                padding: 0;
                list-style: none;
                display: flex;
                li{
                    align-items: center;
                    border: 1px solid $color-4;
                    border-radius: 10px;
                    padding: 5px;
                    text-align: center;
                    color: $color-1;
                    background-color: $color-3;
                    margin-right: 10px;
                    transition: background-color 0.3s, color 0.3s;
                    &:hover{
                        background-color: $color-4;
                        color: $color-5;
                        cursor: pointer;
                    }
                }
            }
        }
    }
        
    .sliderContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 15px;
        .more-product{
            width: 125px;
            margin: 10px auto;
            background-color: $color-5;
            border: 1px solid $color-5;
            transition: all 0.3s;
            &:hover{
                background-color: darken($color-5, 10%);
                
            }
        }
        .card-container{
            display: block;
            box-sizing: inherit;
            width: 80%;
            margin: auto;
            .Card {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 100%;   
                .product-item {
                    background-color: #ffffff;
                    border: 1px solid #ccc;
                    position: relative;
                    border-radius: 5px;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
                    margin-bottom: 10px;
                    max-width: none;
                    margin-right: 10px;
                    width: calc(25% - 10px);
                    height: auto;
                    transition: transform 0.2s;
                        &:hover {
                            transform: scale(1.05);
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        }
                    .product-container{
                        height: auto;
                    }
                    @media (min-width: 768px) {
                        flex-direction: row;
                    }
                }
                
                .img-container{
                    width: 80%;
                    display: flex;
                    margin: auto;
                    .card-Img {
                        margin-top: 10px;
                        border-radius: 5px;
                        object-fit: contain;
                        transition: transform 0.3s;
                        min-height: 155px;
                        &:hover {
                            transform: scale(1.03)
                        }
                    }
                }
                
                .card-Body {
                    text-align: center;
                    padding-bottom: 55px;

                    .card-Button{
                        position: absolute;
                        bottom: 0;
                    }
                }
                
                .card-Title {
                    font-size: 1rem!important;
                    font-weight: bold;
                    margin: 0px 5px!important;
                }
    
                .card-Img, 
                .card-Title {
                    cursor: pointer;
                }
                
                .card-Text {
                    font-size: 1rem;
                    color: gray;
                    cursor: default;
                    margin: 5px 5px;
                    .brand-text{
                        font-weight: bold;
                    }
                    .price-text{
                        color: red;
                        font-weight: bold;
                    }
                }
                .card-Button{
                    display: flex;
                    .atcbtn {
                        font-weight: 400;
                        background-color: $color-5;
                        margin: 0px 15px;
                        color: $color-1;
                        padding: 10px 20px; 
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        width: 125px;
                        height: 45px;
                        margin-bottom: 15px;
                        transition: background-color 0.3s;
                        &:hover {
                            background-color: darken($color-5, 10%);
                        }
                    }
                }
                @media (min-width: 768px) {
                    .product-item {
                        flex-direction: row;
                        align-items: flex-start;
                    }
                
                    .card-Img {
                        max-width: 100%;
                        height: auto;
                    }
                
                    .card-Body {
                        text-align: left;
                        margin-left: 20px;
                    }
                
                    .card-Title {
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
            }
        }
        .nothing-show-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            i{
                color: $color-5;
                font-size: 80px;
            }
            .text{
                color: $color-5;
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
}